.background{
    background-color: rgb(184, 128, 128);
    border-radius: 40px;
    display: flex;
    justify-content: space-around;

    padding: 1rem;

    font-size: 1.3rem;
    
    margin: 1rem;
}

.element{
    display: flex;
    flex-direction: column;
}

.placeholder{
    height: 8rem;
    width: 8rem;
    background-color: grey;
    border-radius: 100%;
}
